.max-w-prose {
  max-width: 100%;
}

.logo{
  max-height: 2rem;
  max-width: 100%;;
}
.logo:hover{
  filter: drop-shadow(0 0 5px rgba(255, 105, 180, 0.7));
  transition: all 0.3s ease;
  cursor: pointer;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% { 
    filter: drop-shadow(0 0 3px rgba(255, 105, 180, 0.5));
  }
  100% { 
    filter: drop-shadow(0 0 8px rgba(255, 105, 180, 0.8));

  }
}
